<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.4/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="/images/TIT-logo.webp" type="image/x-icon">
</head>
<body class="bg-gray-100 flex justify-center items-center h-screen p-4 md:p-0">
  <div class="bg-white p-8 rounded-lg shadow-md max-w-md w-full">
    <h1 class="text-2xl font-bold mb-4 text-center">Login</h1>
    <% if (errorMessage) { %>
      <div class="mb-4">
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">Error: </strong>
          <span class="block sm:inline"><%= errorMessage %></span>
        </div>
      </div>
    <% } %>
    <form action="/login" method="POST">
      <div class="mb-4">
        <label for="username" class="block text-sm font-medium">Username or Email</label>
        <div class="relative">
          <i class="input-icon fas fa-user text-gray-400 absolute left-3 top-1/2 transform -translate-y-1/2"></i>
          <input type="text" id="username" name="username" required class="mt-1 p-2 pl-10 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" placeholder="Enter your username">
        </div>
      </div>
      <div class="mb-4">
        <label for="password" class="block text-sm font-medium">Password</label>
        <div class="relative">
          <i class="input-icon fas fa-lock text-gray-400 absolute left-3 top-1/2 transform -translate-y-1/2"></i>
          <input type="password" id="password" name="password" required class="mt-1 p-2 pl-10 block w-full border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500" placeholder="Enter your password">
        </div>
      </div>  
      <button type="submit" class="w-full bg-indigo-600 text-white p-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50">Login</button>
    </form>
    <p class="mt-4 text-center text-sm">
      Don't have an account? <a href="/register" class="text-indigo-600 hover:text-indigo-800">Register here</a>
    </p>    
  </div>
</body>
</html>
